<nav class="navbar navbar-expand-lg formal burgundy-bg">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 ms-3 deep-green" href="#">The Inkwell Serenades</a>

    <!-- Login -->
    <div class="d-flex">
      <ng-container *ngIf="user === undefined; else showLogout">
        <!-- Show Login Button -->
        <a [routerLink]="['/login']" class="btn border-0"
          ><i class="fa-solid fa-feather-pointed gold fs-4"></i
        ></a>
      </ng-container>

      <!-- Logout -->
      <ng-template #showLogout>
        <div class="d-flex align-items-center">
          <!-- Change -->
          <!-- <span>{{ user?.email }}</span> -->
          <button class="btn border-0" (click)="onLogout()">
            <i class="fa-solid fa-feather-pointed gold fs-4"></i>
          </button>
        </div>
      </ng-template>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Blog</a>
        </li> -->

        <!-- Admin Dropdown -->
        <ng-container
          *ngIf="user !== undefined && user?.roles?.includes('Writer')"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle deep-green"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item deep-green"
                  [routerLink]="['/admin/categories']"
                  >Category</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item deep-green"
                  [routerLink]="['/admin/blogposts']"
                  >Blog Post</a
                >
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>

      <!-- Search -->
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
 <hr class="divide"/>
